.variant {
    display: flex;
    width: 70%;
    margin-top: 110px;
    height: min-content;
    margin-left: calc(15% + 130px);
}

.content-section {
    display: flex;
    gap: 5%;
    width: 70%;
    margin-top: 40px;
    height: 580px;
    margin-left: calc(15% + 130px);
}

.content-section .list-section {
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    height: 100%;
    width: 10%;
}

.content-section .list-section button {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 9px;
    align-self: center;
    font-size: x-large;
    border: 0;
    appearance: none;
    justify-content: center;
    color: rgb(19, 19, 19);
    justify-content: center;
    align-items: center;
    background: #e7e7e7;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.25s, 0.25s;
}

.content-section .list-section button:hover {
    background: #d7dada;
    transition: 0.25s, 0.25s;
}

.content-section .list-section .pressed {
    background: #303030;
    color: rgb(247, 247, 247);
    cursor: pointer;
}

.content-section .list-section .pressed:hover {
    background: #303030;
}


.content-section .list-section .solved {
    background: #c2c2c2;
    transition: 0.25s, 0.25s;
}

.content-section .list-section .solved:hover {
    background: #b4b4b4;
    transition: 0.25s, 0.25s;
}

.content-section .task-section {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 75%;
    background-color: white;
    border-radius: 20px;
    align-self: center;
}

.content-section .task-section .info-section {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.content-section .task-section .info-section h1 {
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
    color: rgb(51, 51, 51);
}

.content-section .task-section img {
    display: flex;
    padding-left: 20px;
    padding-bottom: 15px;
    width: 95%;
    height: fit-content;
}

.content-section .task-section p {
    display: flex;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    color: rgb(51, 51, 51);
}

.content-section .task-section button {
    height: 35px;
    width: 115px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: large;
    background: #eaecec;
    justify-content: center;
    align-items: center;
    color: rgb(19, 19, 19);
    appearance: none;
    border: 0;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.25s, 0.25s;
}

.content-section .task-section .interface-section .finish {
    height: 35px;
    width: 175px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: large;
    background: #eaecec;
    color: rgb(19, 19, 19);
    appearance: none;
    border: 0;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.25s, 0.25s;
}

.content-section .task-section button:hover {
    background: #d7dada;
    transition: 0.25s, 0.25s;
}

.content-section .task-section .interface-section .finish:hover {
    background: #d7dada;
    transition: 0.25s, 0.25s;
}

.content-section .task-section input {
    width: calc(100% - 185px);
    margin-left: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid rgb(117, 117, 117);
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    font-size: large;
}




















